$green: rgb(44, 221, 22);

body {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
}

.cf {
    display: block;
    content: "";
    clear: both;
}

header {
  background-color: #03A9F4;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

  nav {

    height: auto;
  }

  ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
    padding: 10px;
  }

  & a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  h1 {
    color: white;
    text-align: center;
  }
}

.testing {
  width: percentage(5/7);
}

#logo {
  background-color: $green;
}

.boton {
  background-color: #8BC34A;
  border: 2px solid #000;
  width: 60px;
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-top: 25px;
  color: #000;
}

form {
  width: 50%;
  float: left;
  overflow: hidden;
  margin-top: 25px;
}

.table-container {
  width: 50%;
  overflow: hidden;
}

.labels {
  width: 31%;
  float: left;

  & label {
    display: block;
    margin-top: 2px;
    height: 21px;
    margin-bottom: 7px;
  }
}

.inputs {
  display: block;
  float: left;
  width: 30%;

  & input {
    margin-bottom: 8px;
  }
}
