body {
  display: block;
  width: 90%;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto; }

.cf {
  display: block;
  content: "";
  clear: both; }

header {
  background-color: #03A9F4;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }
  header nav {
    height: auto; }
  header ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
    padding: 10px; }
  header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }
  header h1 {
    color: white;
    text-align: center; }

.testing {
  width: 71.42857%; }

#logo {
  background-color: #2cdd16; }

.boton {
  background-color: #8BC34A;
  border: 2px solid #000;
  width: 60px;
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 5px;
  color: #000; }

form {
  width: 40%;
  float: left;
  overflow: hidden;
  margin: 50px 0px 0px 25px; }

.table-container {
  width: 50%;
  overflow: hidden; }

.labels {
  width: 31%;
  float: left; }
  .labels label {
    display: block;
    margin-top: 2px;
    height: 21px;
    margin-bottom: 7px; }

.inputs {
  display: block;
  float: left;
  width: 30%; }
  .inputs input {
    margin-bottom: 8px; }

th {
  padding-right: 15px; }

table, td, th {
  border: 1px solid #000;
  text-align: center; }
